services:
  portfolio-dev:
    build:
      context: .
    container_name: portfolio-dev
    ports:
      - "3002:80"
    volumes:
      - ./public:/usr/share/nginx/html:ro
    restart: unless-stopped
