---
interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Portafolio de Gabriel Barria' } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot name="header" />
    <main class="min-h-screen">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
